<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_5.2.xsd">

  <menuitem name="admission-root" order="-100" title="Admission"
    icon="fa-book" icon-background="grey" />

  <menuitem name="admission-root-admission-entry"
    parent="admission-root" title="Admission Entry"
    action="action.admission.view.admission.entry" />
  <action-view name="action.admission.view.admission.entry"
    title="Admission Entry" model="com.axelor.admission.db.AdmissionEntry">
    <view type="grid" name="admission-entry-grid" />
    <view type="form" name="admission-entry-form" />
  </action-view>

  <menuitem name="admission-root-college"
    parent="admission-root" title="College"
    action="action.admission.view.college" />
  <action-view name="action.admission.view.college"
    title="College" model="com.axelor.admission.db.College">
    <view type="grid" name="college-grid" />
    <view type="form" name="college-form" />
  </action-view>

  <menuitem name="admission-root-faculty"
    parent="admission-root" title="Faculty"
    action="action.admission.view.faculty" />
  <action-view name="action.admission.view.faculty"
    title="Faculty" model="com.axelor.admission.db.Faculty">
    <view type="grid" name="faculty-grid" />
    <view type="form" name="faculty-form" />
  </action-view>

  <menuitem name="admission-root-admission-process"
    parent="admission-root" title="Admission Process"
    action="action.admission.view.admission.process" />
  <action-view name="action.admission.view.admission.process"
    title="Faculty" model="com.axelor.admission.db.AdmissionProcess">
    <view type="grid" name="admission-process-grid" />
    <view type="form" name="admission-process-form" />
  </action-view>




</object-views>
